<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Todos for today:</h1>

<table>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Urgent</th>
        <th>Done</th>
    </tr>
    <tr th:each="item : ${list}">
        <td th:text="${item.getId()}"></td>
        <td th:text="${item.getTitle()}"></td>
        <td>
            <span th:if="${item.isUrgent()}" th:text="'Yes'"></span>
            <span th:unless="${item.isUrgent()}" th:text="'No'"></span>
        </td>
        <td>
            <span th:if="${item.isDone()}" th:text="'Done'"></span>
            <span th:unless="${item.isDone()}" th:text="'not Done'"></span>
        </td>

    </tr>


</table>

</body>
</html>